header {
 background-color: #084887;
 padding: 10px;
 text-align: center;
 color: white;
}

.card{
    background-color: #084887;
    color: white;
    
}

.one-day-forecast{
    position: relative;
    left: 300px;
}

/* .five-day-forecast{
    position: relative;
    left: 300px;
} */